<h3 matDialogTitle>שינוי סיסמה</h3>
<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>סיסמה נוכחית</mat-label>
      <input
        matInput
        formControlName="oldPassword"
        [errorStateMatcher]="matcher"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>סיסמה חדשה</mat-label>
      <input
        matInput
        formControlName="newPassword"
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="passwordForm.get('newPassword').invalid">
        יש להזין סיסמה מעל ל-6 תווים
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>אימות סיסמה חדשה</mat-label>
      <input
        matInput
        formControlName="verifyPassword"
        [errorStateMatcher]="passMatcher"
      />
      <mat-error *ngIf="passwordForm.hasError('mismatch')">
        הסיסמאות חייבות להיות תואמות
      </mat-error>
    </mat-form-field>
  </div>
  <button
    mat-button
    [disabled]="passwordForm.invalid"
    [mat-dialog-close]="{
      oldPassword: passwordForm.get('oldPassword').value,
      newPassword: passwordForm.get('newPassword').value
    }"
  >
    עדכון סיסמה
  </button>
  <button mat-button (click)="onNoClick()">ביטול</button>
</form>
