<section>
  <h3>שינוי סיסמה</h3>
  <form id="passwordForm" #passwordForm="ngForm" (ngSubmit)="updatePassword()">
    <mat-form-field>
      <mat-label>סיסמה נוכחית</mat-label>
      <input
        matInput
        name="oldPassword" [(ngModel)]="password.oldPassword"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>סיסמה חדשה</mat-label>
      <input
        matInput
        name="newPassword" [(ngModel)]="password.newPassword"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>אימות סיסמה חדשה</mat-label>
      <input
        matInput
        name="verifyPassword" [(ngModel)]="verifyPassword"
      />
    </mat-form-field>

    <button mat-button type="submit">עדכון סיסמה</button>
  </form>

  
</section>