<app-mainNav></app-mainNav>

<h2>הפרופיל שלי</h2>

<section>

  <h3>פרטים אישיים</h3>
    <form id="editForm" #editForm="ngForm" (ngSubmit)="updateUser()">
      <button mat-button *ngIf="editForm.dirty" type="submit">
        שמירה
      </button>
      <mat-form-field>
        <mat-label>שם פרטי</mat-label>
        <input
          matInput
          name="firstName"
          placeholder="שם פרטי"
          [(ngModel)]="user.firstName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>שם משפחה</mat-label>
        <input
          matInput
          name="lastName"
          placeholder="שם משפחה"
          [(ngModel)]="user.lastName"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>טלפון</mat-label>
        <input
          matInput
          name="phone"
          placeholder="טלפון"
          [(ngModel)]="user.phone"
        />
      </mat-form-field>
      
      <section>
        <h4>מדינה</h4>
        <p>{{ user.country }}</p>
      </section>
      <section>
        <h4>שם ארגון</h4>
        <p>{{ user.organization }}</p>
      </section>

    </form>

<hr />
<section>
  <h3>פרטי חשבון</h3>

  <section>
    <h4>שם משתמש</h4>
    <p>{{ user.username }}</p>
    <button mat-button (click)="openModal()">שינוי סיסמה</button>
  </section>

  <section>
    <h4>תאריך רכישה אחרון</h4>
    <p>{{ user.planStarted | date: 'dd/MM/yyyy'}}</p>
  </section>

  <section>
    <h4>תאריך חידוש קרוב</h4>
    <p>{{ user.planExpired | date: 'dd/MM/yyyy'}}</p>
  </section>
</section>

<!-- <app-changePassword *ngIf="isChangePassword"></app-changePassword> -->
