<mat-toolbar fxLayout="row">
  <p fxFlex="60">ScaleHIT</p>
  <div fxFlex="40">
    <mat-form-field>
      <mat-select [(value)]="selectedLang">
        <mat-option value="he-il">HE</mat-option>
        <mat-option value="en-us">EN</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button [matMenuTriggerFor]='menu'>Hello {{authService.decodedToken.given_name}}</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active">הפרופיל שלי</a>
      <a mat-menu-item>הפעילויות שלי</a>
      <a mat-menu-item *ngIf="authService.decodedToken.role == 'admin'" [routerLink]="['/systemAdmin']" routerLinkActive="router-link-active">ניהול מערכת</a>
      <a mat-menu-item>תוכניות ומחירים</a>
      <a mat-menu-item>תמיכה</a>
      <a mat-menu-item>יצירת קשר</a>
      <a mat-menu-item>אודות</a>

    </mat-menu>
    <button mat-stroked-button (click)="logOut()">התנתקות</button>
  </div>
</mat-toolbar>

<!--[routerLink]="['/profile/', authService.decodedToken.nameid]"-->