<mat-toolbar fxLayout="row">
  <div fxFlex="80">
    <mat-form-field>
      <mat-select [(value)]="selectedLang">
        <mat-option value="he-il">HE</mat-option>
        <mat-option value="en-us">EN</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item [routerLink]="['/plans']" routerLinkActive="router-link-active">תוכניות</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item href="#">אודות</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <mat-nav-list fxFlex="20" class="signinBtn">
    <mat-list-item>
      <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active">התחברות</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-list-item [routerLink]="['/register']" routerLinkActive="router-link-active">הרשמה</a>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>